[Unit]
Description=Esselunga slot checker hourly

[Timer]
OnCalendar=*-*-* 00,07..23:00:00
Unit=esselunga@city.service

[Install]
WantedBy=multi-user.target

