[Unit]
Description=Esselunga %i slots checker

[Service]
User=natale
Type=simple
ExecStart=/path/to/esselunga_%i.sh

[Install]
WantedBy=multi-user.target
